.site-title {
    font-size: 1.4rem !important;
}

.page-body {
    margin-top: 2rem;
}

.article {
    cursor: zoom-in;
}

#category-modal-title {
    margin-bottom: 0 !important;
}

#modal-header {
    margin-bottom: 0.5rem;
}

#modal-close-button{
    cursor: pointer;
}