<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main class="wrapper">
    {% include header.html %} {% include bio.html %}
    <section class="articles page-body">
        {% for post in site.sp %}
        <article class="article" data-url="{{site.baseurl}}{{post.url}}">
            <h2 class="article-title">
               {{post.title}}
            </h2>
            <small class="date">{{post.desc}}</small>
            <div class="categories">
                {% for c in post.categories %}
                <p class="category">{{c}}</p>
                {% endfor %}
            </div>
        </article>
        {%endfor%}
    </section>
    {% include footer.html %}
</main>
{% include category-modal.html%}
</body>
</html>
