<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<main class="wrapper">
    {% include header.html %}
    <h2 class="">{{page.title}}</h2>
    <section class="articles page-body">
        {% assign ordered_pages = site.music | sort:"date" %}
        {% for post in ordered_pages reversed %}
        <article class="article">
            <h2 class="article-title">
                {{post.title}}
            </h2>

            {% if post.desc and post.desc != '' %}
            <small class="date">{{post.desc}}</small>
            {% else %}
            <br>
            {% endif %}

            {{post.content}}
            <div class="categories">
                {% for c in post.categories %}
                <a href="#!" data-base-url="{{site.baseurl}}" class="category">{{c}}</a>
                {% endfor %}
            </div>
        </article>
        {%endfor%}
    </section>
    {% include footer.html %}
</main>
{% include category-modal.html%}
</body>
</html>
